<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guangeryi.event.mapper.TFlightMapper">
	<resultMap id="BaseResultMap" type="com.guangeryi.event.entity.TFlight">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user" property="user" jdbcType="INTEGER" />
		<result column="fcode" property="fcode" jdbcType="VARCHAR" />
		<result column="ordertime" property="ordertime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user, fcode, ordertime
	</sql>
	<insert id="insert" parameterType="com.guangeryi.event.entity.TFlight">
		insert into t_flight (id, user, fcode,
		ordertime)
		values (#{id,jdbcType=INTEGER}, #{user,jdbcType=INTEGER},
		#{fcode,jdbcType=VARCHAR},
		#{ordertime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.guangeryi.event.entity.TFlight">
		insert into t_flight
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="user != null">
				user,
			</if>
			<if test="fcode != null">
				fcode,
			</if>
			<if test="ordertime != null">
				ordertime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="user != null">
				#{user,jdbcType=INTEGER},
			</if>
			<if test="fcode != null">
				#{fcode,jdbcType=VARCHAR},
			</if>
			<if test="ordertime != null">
				#{ordertime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
</mapper>